<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssm.dao.ClassDao">
	
	
	<!-- 1.获取班级信息列表，展示 -->
	<select id="getClasses" resultMap="classess">
		select classes.*,department.dep_name from classes,department where classes.dep_id=department.id order by classes.id desc;
	</select>
	
	<resultMap type="ssm.entity.Classes" id="classess">
		<id property="id" column="id" />
		<result property="dep_id" column="dep_id" />
		<result property="classes_no" column="classes_no" />
		<association property="department" javaType="ssm.entity.Department">
			<id property="id" column="id" />
			<result property="dep_name" column="dep_name" />
		</association>
	</resultMap>
	
	<!-- 2.获取院系信息，展示 -->
	<select id="getDepartment" resultType="ssm.entity.Department">
		select * from department;
	</select>
	
	<!-- 3.查询添加的班级是否已经存在（通过班级号查询） -->
	<select id="selectClassesByClassNo" parameterType="String" resultType="int">
		select count(1) from classes where classes_no=#{classes_no};
	</select>
	
	<!-- 4.添加班级信息 -->
	<insert id="addClasses" parameterType="ssm.entity.Classes" >
		insert into classes(dep_id,classes_no) values(#{dep_id},#{classes_no});
	</insert>
	
	<!-- 5.查询班级信息，并展示  -->
	<select id="selectClassesById" parameterType="int" resultMap="classess">
		select classes.*,department.dep_name from classes,department where classes.dep_id=department.id and classes.id=#{id};
	</select>
	
	<!-- 6.修改班级信息  -->
	<update id="updateClasses" parameterType="ssm.entity.Classes" >
		update classes set dep_id=#{dep_id},classes_no=#{classes_no} where id=#{id};
	</update>
	
	<!-- 7.删除班级信息 -->
	<delete id="deleteClasses" parameterType="int" >
		delete  from classes where id=#{id};
	</delete>
	
	<!-- 8.通过班级号，部门id查询该班级是否存在    -->
	<select id="selectClassesAll" parameterType="ssm.entity.Classes" resultType="int">
		select count(1) from classes where classes_no=#{classes_no} and dep_id=#{dep_id};
	</select>
</mapper>