<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssm.dao.EvaluateDao">
	
	<!-- 学生评价教师的信息插入 -->
	<insert id="InsertSt_score" parameterType="int">
		insert into st_score (student_id,classes_id,teacher_id,st_score,course_name)
		values (#{student_id},#{classes_id},#{teacher_id},#{st_score},#{course_name})
	</insert>
	
	<!-- 教师评价教师的信息插入 -->
	<insert id="InsertTt_score" parameterType="int">
		insert into tt_score (teacher1_id,dep_id,teacher2_id,tt_score,course_name)
		values (#{teacher1_id},#{dep_id},#{teacher2_id},#{tt_score},#{course_name})
	</insert>
	
</mapper>