<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.dao.EvaluateDao">

	<!-- 1.通过学生班级号,学期id，查询相应班级的课程名，任课老师 -->
	<select id="selectCourseTeacherByNo" parameterType="Map" resultMap="teacher_course">
		select teacher_course.*,course.course_name,teacher.teacher_name 
		from teacher_course,course,classes,teacher
		where teacher_course.teacher_id=teacher.id
		and teacher_course.course_id=course.id
		and teacher_course.classes_id=classes.id
		and classes.classes_no=#{classes_no} and term_id = #{term_id}
	</select>
	
	<!-- 教师列表 -->
	<select id="selectCourseTeacherByInfo" parameterType="Map" resultMap="teacher_course">
		select course.course_name,teacher_course.*,teacher.teacher_name
		from teacher_course,course,classes,teacher,department
		where teacher_course.teacher_id=teacher.id
		and teacher_course.course_id=course.id
		and teacher_course.classes_id=classes.id
		and teacher.dep_id=department.id
		and teacher.dep_id=#{dep_id} and term_id =#{term_id};
	</select>
	
	<resultMap type="ssm.entity.Teacher_course" id="teacher_course">
		<id property="id" column="id" />
		<result property="teacher_id" column="teacher_id" />
		<result property="classes_id" column="classes_id" />
		<result property="course_id" column="course_id" />
		<result property="term_id" column="term_id" />
		<association property="teacher" javaType="ssm.entity.Teacher">
			<id property="id" column="id" />
			<result property="teacher_name" column="teacher_name" />
		</association>
		<association property="course" javaType="ssm.entity.Course">
			<id property="id" column="id" />
			<result property="course_name" column="course_name" />
		</association>
		<association property="department" javaType="ssm.entity.Department">
			<id property="id" column="id" />
			<result property="dep_name" column="dep_name" />
		</association>
	</resultMap>
	
	<resultMap type="ssm.entity.Teacher_course" id="teacher_courseAll">
		<id property="id" column="id" />
		<result property="teacher_id" column="teacher_id" />
		<result property="classes_id" column="classes_id" />
		<result property="course_id" column="course_id" />
		<result property="term_id" column="term_id" />
		<association property="teacher" javaType="ssm.entity.Teacher">
			<id property="id" column="id" />
			<result property="teacher_no" column="teacher_no" />
			<result property="teacher_name" column="teacher_name" />
			<result property="teacher_pwd" column="teacher_pwd" />
			<result property="sex" column="sex" />
			<result property="tel" column="tel" />
			<result property="dep_id" column="dep_id" />
			<result property="time" column="time" />
			<result property="remark" column="remark" />
			<result property="is_manage" column="is_manage" />
		</association>
		<association property="classes" javaType="ssm.entity.Classes">
			<id property="id" column="id" />
			<result property="classes_no" column="classes_no" />
			<result property="dep_id" column="dep_id" />
		</association>
		<association property="course" javaType="ssm.entity.Course">
			<id property="id" column="id" />
			<result property="course_name" column="course_name" />
			<result property="dep_id" column="dep_id" />
		</association>
		<association property="term" javaType="ssm.entity.Term">
			<id property="id" column="id" />
			<result property="term_name" column="term_name" />
			<result property="is_open" column="is_open" />
		</association>
	</resultMap>
	
	<!-- 新 -->
	<!-- 2.通过教师的部门号，查询改部门的课程名和相应任课教师名 -->
	<select id="selectCourseTeacherByDepid" parameterType="ssm.entity.Teacher" resultMap="teacher_courseByDep_idAndTeacher_name">
		select teacher_course.*,teacher.*,course.course_name,department.*
		from teacher_course,teacher,course,department
		where teacher_course.teacher_id = teacher.id and teacher_course.course_id = course.id
		and teacher.dep_id = department.id and teacher.dep_id = #{dep_id} and teacher_name!=#{teacher_name};
	</select>
	
	<resultMap type="ssm.entity.Teacher_course" id="teacher_courseByDep_idAndTeacher_name">
		<id property="id" column="id" />
		<result property="teacher_id" column="teacher_id" />
		<result property="classes_id" column="classes_id" />
		<result property="course_id" column="course_id" />
		<result property="term_id" column="term_id" />
		<association property="teacher" javaType="ssm.entity.Teacher">
			<id property="id" column="id" />
			<result property="teacher_no" column="teacher_no" />
			<result property="teacher_name" column="teacher_name" />
			<result property="dep_id" column="dep_id" />
		</association>
		<association property="course" javaType="ssm.entity.Course">
			<id property="id" column="id" />
			<result property="course_name" column="course_name" />
		</association>
		<association property="department" javaType="ssm.entity.Department">
			<id property="id" column="id" />
			<result property="dep_name" column="dep_name" />
		</association>
	</resultMap>
	
	
	<!-- 3.学生评价教师的信息插入 -->
	<insert id="InsertSt_score" parameterType="int">
		insert into st_score (student_id,classes_id,teacher_id,st_score,course_name)
		values (#{student_id},#{classes_id},#{teacher_id},#{st_score},#{course_name})
	</insert>
	
	<!-- 4.教师评价教师的信息插入 -->
	<insert id="InsertTt_score" parameterType="int">
		insert into tt_score (teacher1_id,dep_id,teacher2_id,tt_score,course_name)
		values (#{teacher1_id},#{dep_id},#{teacher2_id},#{tt_score},#{course_name})
	</insert>
	
	<!-- 1.通过授课号，查询相应班级的课程名，任课老师 -->
	<select id="selectCourseTeacherAllById" parameterType="int" resultMap="teacher_courseAll">
		select teacher.*,classes.*,course.*,term.*
		from teacher_course,teacher,classes,course,term
		where teacher_course.teacher_id=teacher.id and teacher_course.classes_id=classes.id
		and teacher_course.course_id=course.id and teacher_course.term_id=term.id
		and teacher_course.id=#{id};
	</select>
	
	<!-- 5.通过学生评教列表id，查询信息 -->
	<select id="selectCourseTeacherByid" parameterType="int" resultMap="teacher_course">
		select teacher_course.*,course.course_name,teacher.* 
		from teacher_course,course,classes,teacher
		where teacher_course.teacher_id=teacher.id
		and teacher_course.course_id=course.id
		and teacher_course.classes_id=classes.id
		and teacher_course.id=#{id};
	</select>
	
	<!-- 新 -->
	<select id="selectCourseTeacherByTeacher_courseId" parameterType="int" resultMap="teacher_courseByTeacher_courseId">
		select teacher_course.*,teacher.id,teacher.teacher_name,teacher.dep_id,course.course_name,term.*
  		from teacher_course,teacher,course,term
		where teacher_course.teacher_id = teacher.id and teacher_course.course_id = course.id
		and teacher_course.term_id = term.id and teacher_course.id = #{id};
	</select>
	
	<resultMap type="ssm.entity.Teacher_course" id="teacher_courseByTeacher_courseId">
		<id property="id" column="id" />
		<result property="teacher_id" column="teacher_id" />
		<result property="classes_id" column="classes_id" />
		<result property="course_id" column="course_id" />
		<result property="term_id" column="term_id" />
		<association property="teacher" javaType="ssm.entity.Teacher">
			<id property="id" column="id" />
			<result property="teacher_no" column="teacher_no" />
			<result property="teacher_name" column="teacher_name" />
			<result property="dep_id" column="dep_id" />
		</association>
		<association property="course" javaType="ssm.entity.Course">
			<id property="id" column="id" />
			<result property="course_name" column="course_name" />
		</association>
		<association property="term" javaType="ssm.entity.Term">
			<id property="id" column="id" />
			<result property="term_name" column="term_name" />
		</association>
	</resultMap>
	
	<insert id="insertSt_scoreInfo" parameterType="ssm.entity.St_score" > 
		insert into st_score(student_id,classes_id,teacher_id,st_score,course_name) values 
		(#{student_id},#{classes_id},#{teacher_id},#{st_score},#{course_name});
	</insert>
	
	<insert id="insertTt_scoreInfo" parameterType="ssm.entity.Tt_score" > 
		insert into tt_score(teacher1_id,dep_id,teacher2_id,tt_score,course_name) values 
		(#{teacher1_id},#{dep_id},#{teacher2_id},#{tt_score},#{course_name});
	</insert>
	
	<!-- 查询学生评价表，查询该学生在评价表中评价的记录 -->
	<select id="selectSt_scoreByStudent_id" parameterType="int" resultType="ssm.entity.St_score">
		select id,student_id,teacher_id,course_name from st_score where student_id = #{student_id}
	</select>
	
		<resultMap type="ssm.entity.Tt_score" id="tt_scoreInfo">
		<id property="id" column="id" />
		<result property="teacher1_id" column="teacher1_id" />
		<result property="dep_id" column="dep_id" />
		<result property="teacher2_id" column="teacher2_id" />
		<result property="tt_score" column="tt_score" />
		<result property="course_name" column="course_name" />
		<association property="teacher1"
			javaType="ssm.entity.Teacher">
			<id property="id" column="id" />
			<result property="teacher_name" column="name1" />
		</association>

		<association property="teacher2"
			javaType="ssm.entity.Teacher">
			<id property="id" column="id" />
			<result property="teacher_name" column="name2" />
		</association>

		<association property="department"
			javaType="ssm.entity.Department">
			<id property="id" column="id" />
			<result property="dep_name" column="dep_name" />
		</association>


	</resultMap>
	
	<!-- 查询学生评价表，查询该学生在评价表中评价的记录 -->
	<!-- 2.获取评价老师与被评价老师的信息，展示 -->
	<select id="selectSt_scoreByTeacher_id" resultMap="tt_scoreInfo"  parameterType="int">
		select a.id as id,teacher1_id,teacher2_id,a.teacher_name as name1,a.dep_id,teacher.teacher_name as name2,course_name,dep_name,a.tt_score from
		(select tt_score.*,teacher.teacher_name,department.dep_name from tt_score,teacher,department
		where tt_score.teacher1_id=teacher.id and tt_score.dep_id=department.id) a
		INNER JOIN teacher
		on teacher.id = a.teacher2_id  and teacher1_id = #{id}
	</select>


</mapper>