<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.dao.loginDao">
<!-- 查询账号是否存在 -->
 <select id="selectUserName" parameterType="String" resultType="int">
 select count(1) from admin where username=#{username};
 </select>
 
</mapper>