<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssm.dao.StudentDao">
	<resultMap type="ssm.entity.Student" id="student">
		<id property="id" column="id" />
		<result property="student_no" column="student_no" />
		<result property="student_name" column="student_name" />
		<result property="student_pwd" column="student_pwd" />
		<result property="classes_id" column="classes_id" />
		<result property="sex" column="sex" />
		<result property="tel" column="tel" />
		<result property="time" column="time" />
		<result property="remark" column="remark" />
		<association property="classes" javaType="ssm.entity.Classes">
			<id property="id" column="id" />
			<result property="classes_no" column="classes_no" />
			<result property="dep_id" column="dep_id" />
		</association>
	</resultMap>

	<!-- 查询全部学生信息 -->
	<select id="selectStudent" resultMap="student">
		select  student.*,classes.classes_no from student,classes where student.classes_id=classes.id order by student.id desc;
	</select>
	<!-- 查询全部学生学号 -->
	<select id="selectStudentById" resultType="int" parameterType="String">
		select  count(1) from student where student_no=#{student_no};
	</select>
	<!-- 添加学生信息 -->
	<insert id="addStudent" parameterType="ssm.entity.Student" >
		insert into student(student_no,student_name,student_pwd,classes_id,sex,tel) 
		values(#{student_no},#{student_name},#{student_pwd},#{classes_id},#{sex},#{tel});
	</insert>
	
	<!-- 通过id查询学生信息 -->
	<select id="selectStudentById1" resultMap="student" parameterType="int">
		select  student.*,classes.classes_no from student,classes where student.classes_id=classes.id and student.id=#{id};
	</select>
	
	<!-- 修改学生信息 -->
	<update id="updateStudent" parameterType="ssm.entity.Student" >
		update student set student_no=#{student_no},student_name=#{student_name},classes_id=#{classes_id},student_pwd=#{student_pwd},sex=#{sex},tel=#{tel} where id=#{id};
	</update>
	
	<!-- 删除学生信息 -->
	<delete id="deletestudent" parameterType="int" >
		delete  from student where id=#{id};
	</delete>
	
	<!-- 修改学生密码 -->
	<update id="updateStudentpwd" parameterType="ssm.entity.Student" >
		update student set student_pwd=#{student_pwd} where student_no=#{student_no};
	</update>
	
	<!-- 根据学号查看学生密码 -->
	<select id="selectStudentpwdByNo" resultType="String" parameterType="String">
		select  student_pwd from student where student_no=#{student_no};
	</select>
	
	<!-- 根据姓名查询学生信息 -->
	<select id="selectStudentByName" parameterType="String" resultMap="student">
		select student.*,classes.classes_no from student,classes where student.classes_id=classes.id and student_name like CONCAT(CONCAT('%',#{info}),'%');
	</select>
</mapper>