<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.dao.TermDao">
	
	<!-- 1.查询学期信息并展示 -->
	<select id="getTerm" resultType="ssm.entity.Term">
		select * from term;
	</select>
	
	<!-- 2.查询添加的学期是否已经存在（通过学期名查询） -->
	<select id="selectTermByTermname" parameterType="String" resultType="int">
		select count(1) from term where term_name=#{term_name};
	</select>
	
	<!-- 3.添加学期信息 -->
	<insert id="addTerm" parameterType="ssm.entity.Term" >	
		insert into term(term_name,is_open) values(#{term_name},0);
	</insert>
	
	<!-- 4.查询學期信息，并展示  -->
	<select id="selectTermById" parameterType="int" resultType="ssm.entity.Term">
		select * from term where id=#{id};
	</select>
	
	<!-- 5.修改课程信息  -->
	<update id="updateTerm" parameterType="ssm.entity.Term" >
		update term set term_name=#{term_name} where id=#{id};
	</update>
	
	<!-- 6.删除课程信息 -->
	<delete id="deleteTerm" parameterType="int">
		delete from term where id=#{id};
	</delete>
	
	<!-- 查询学期表全部信息 -->
	<select id="selectTerms" resultType="ssm.entity.Term">
		select * from term 
	</select>
	
	<!-- 查询学期表是否存在启用的评价 -->
	<select id="selectIsCurrAppraise" resultType="int">
		select count(1) from term where is_open =1
	</select>
	
	<!-- 查询学期表中该学期的启用状态 -->
	<select id="selectIsCurrAppraiseById" parameterType="int" resultType="int">
		select is_open from term where id = #{id}
	</select>
	
	<!-- 更新学期表中该学期的启用状态 -->
	<update id="updateIsCurrAppraise" parameterType="ssm.entity.Term">
		update term set is_open = #{is_open} where id = #{id}
	</update>
	
	<!-- 查询学期表中启动状态的学期id -->
	<select id="selectIsCurrAppraiseByIs_open" resultType="int">
		select id from term where is_open=1;
	</select>
	
</mapper>