<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context                     
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx 
	      http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


<!-- bean的配置在这里 -->
	
	<!-- 扫描service包 --> <!-- 扫描业务逻辑类配置，将加了@Service注解的业务逻辑类放入容器   -->
	<context:component-scan base-package="ssm.service"></context:component-scan>
	
	
	<!-- 引入jdbc.properties属性文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:jdbc.properties" />
	</bean>
	
	
	<!-- 配置数据库连接信息 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	
	<!-- 配置sqlSessionFactory，需要关联数据源 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 自动扫描SQL映射文件 -->
		<property name="mapperLocations" value="classpath:ssm/mapper/*.xml"></property>
	</bean>


	<!-- 配置SqlSession，需要关联sqlSessionFactory -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>
	
	
	<!-- 扫描dao包下的接口，自动创建对象并注册到容器中 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="ssm.dao" />
	</bean>
	
	

	<!-- 配置事务管理器 -->
    <bean id="transactionManager"   class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource" />
    </bean>
	
	<!-- 注解方式配置事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" />
	
</beans>
