<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

<!-- bean的配置在这里 -->

<!-- 扫描控制器所在的包 -->
	<context:component-scan base-package="ssm.controller"></context:component-scan>
	<context:component-scan base-package="ssm.util"></context:component-scan>
	
	
<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	
<!-- 注册组件，从而提供很多功能支持 -->
	<mvc:annotation-driven />
<!-- 处理静态资源无法访问问题 -->
	<mvc:default-servlet-handler />
	
	
<!-- 配置 MultipartResolver --><!-- 上传文件解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"></property>
	</bean>
	
	
	
	
	
	
	
	
	
	
	
	
	
</beans>
